attrs==21.4.0
click==8.1.2
flasgger==0.9.7.1
Flask==2.2.5
Flask-Caching==1.10.1
importlib-metadata==4.11.3
importlib-resources==5.7.1
itsdangerous==2.1.2
Jinja2==3.1.1
jsonschema==4.4.0
MarkupSafe==2.1.1
mistune==2.0.3
psycopg2==2.9.3
pyrsistent==0.18.1
PyYAML==6.0.1
six==1.16.0
Werkzeug==3.0.3
zipp==3.8.0
